BB_dyn_centr
BB_dyn_ns_alluv
BB_dyn_ns_clstr
BB_dyn_ns_match
BB_dyn_strength
GoT_dyn_centr
GoT_dyn_ns_alluv
GoT_dyn_ns_clstr
GoT_dyn_ns_match
GoT_dyn_strength
HoC_dyn_centr
HoC_dyn_ns_alluv
HoC_dyn_ns_clstr
HoC_dyn_ns_match
HoC_dyn_strength
